/* 
==========================
Prose - Styles for writing
==========================
*/

.prose ol,
.prose ul {
  margin-left: var(--spacing-5);
}

.prose ul > li,
.prose ol > li {
  position: relative;
}

.prose ol {
  counter-reset: li;
}

.prose ol > li:before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  color: var(--color-tertiary);
  margin-left: calc(-1 * var(--spacing-5));
}

.prose ul > li:before {
  position: absolute;
  top: 0.45rem;
  margin-left: calc(-1 * var(--spacing-3));
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--color-tertiary);
}

.prose a {
  color: var(--color-tertiary);
  text-decoration: underline;
  text-decoration-color: rgb(var(--color-tertiary-rgb), var(--opacity-50));
  text-decoration-thickness: 2px;
  text-decoration-style: dotted;
  text-underline-offset: 3px;
  transition: text-decoration-color 200ms;
}

.prose a:hover {
  text-decoration-color: var(--color-tertiary);
}

.prose li {
  margin-bottom: var(--spacing-3);
}

.prose blockquote,
.prose body,
.prose dd,
.prose dl,
.prose figure,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose hr,
.prose p {
  margin-bottom: var(--spacing-5);
}

.prose blockquote {
  padding-left: var(--spacing-5);
  border-left: 3px solid var(--color-tertiary);
  font-style: italic;
  color: var(--color-grey-1);
}

.prose h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-4);
}

.prose h2 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-3);
}
