/* 
Breakpoint reference (tailwind)
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
*/

:root {
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;

  --color-primary-rgb: 229, 11, 167;
  --color-primary-dark-rgb: 153, 4, 111;
  --color-primary-darker-rgb: 77, 1, 55;
  --color-primary-light-rgb: 255, 38, 194;
  --color-secondary-rgb: 252, 241, 42;
  --color-secondary-light-rgb: 252, 248, 167;
  --color-tertiary-light-rgb: 92, 149, 255;
  --color-tertiary-rgb: 67, 133, 255;
  --color-tertiary-dark-rgb: 29, 81, 179;
  --color-primary-compliment-rgb: 44, 200, 116;
  --color-black-rgb: 28, 33, 42;

  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-dark: rgb(var(--color-primary-dark-rgb));
  --color-primary-darker: rgb(var(--color-primary-darker-rgb));
  --color-primary-light: rgb(var(--color-primary-light-rgb));
  --color-secondary: rgb(var(--color-secondary-rgb));
  --color-secondary-light: rgb(var(--color-secondary-light-rgb));
  --color-tertiary-light: rgb(var(--color-tertiary-light-rgb));
  --color-tertiary: rgb(var(--color-tertiary-rgb));
  --color-tertiary-dark: rgb(var(--color-tertiary-dark-rgb));
  --color-primary-compliment: rgb(var(--color-primary-compliment-rgb));
  --color-black: rgb(var(--color-black-rgb));

  --color-grey-1: hsl(240, 16%, 10%);
  --color-grey-2: hsl(240, 16%, 20%);
  --color-grey-3: hsl(240, 16%, 30%);
  --color-grey-4: hsl(240, 16%, 40%);
  --color-grey-5: hsl(240, 16%, 50%);

  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-75: 0.75;

  /* --type-ratio-sm: 1.125; */
  --type-ratio-sm: 1.2;
  --type-ratio-md: 1.25;
  --type-ratio-lg: 1.333;

  --font-size-base: 16px;
  --type-ratio: var(--type-ratio-sm);

  --font-size-sm: calc(var(--font-size-base) / var(--type-ratio));
  --font-size-md: calc(var(--font-size-base) * var(--type-ratio));
  --font-size-lg: calc(var(--font-size-md) * var(--type-ratio));
  --font-size-xl: calc(var(--font-size-lg) * var(--type-ratio));
  --font-size-xs: calc(var(--font-size-sm) / var(--type-ratio))

  --font-weight-1: 300;
  --font-weight-2: 400;
  --font-weight-3: 500;
  --font-weight-4: 600;
  --font-weight-5: 700;
  --font-weight-6: 800;
  --font-weight-7: 900;
}

@media (min-width: 640px) {
  :root {
    --type-ratio: var(--type-ratio-md);
    /* --font-size-base: 20px; */
  }
}

@media (min-width: 768px) {
  :root {
    --font-size-base: 18px;
  }
}

@media (min-width: 1024px) {
  :root {
    --type-ratio: var(--type-ratio-lg);
  }
}
