.label {
  display: inline-block;
  padding: 0 var(--spacing-2);
  text-transform: lowercase;
}

.truncate-txt {
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
