<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dan Chambers | Web Developer</title>
  </head>
  <body>
    <h1>Dan Chambers</h1>
    <p>I'm a web developer based in the North of England.</p>
  </body>
</html>
